body{
    background-color: rgb(10, 10, 10);
    background-image: url(images/codbo2.webp);
    background-repeat: repeat-y;
}
h1{
    color: rgb(73, 50, 205);
    border:5px solid rgb rgb(158, 96, 199);
    background-color: #7e3939;
    
}
h2{
    color: rgba(rgb(45, 150, 248));
    border: 5px solid rgba(rgba(45, 150, 248, 0.514));
}
p.dotted {
    border-style: dotted;    
}

p.dashed {border-style: dashed;
}

p.solid {border-style: solid;}

p.double {border-style: double;}

p.groove {
    border-style: groove;
}

p.ridge {border-style: ridge;}

p.inset {border-style: inset;}

p.outset {border-style: outset;}

p.none {border-style: none;}

p.hidden {border-style: hidden}

p.mix {border-style: dotted dashed solid double;}

p.um {
    border-style: solid;
    border-width: 5px;
}
p.dois{
    border-style: solid;
    border-width:medium; 
}
p.três{
    border-style: solid;
    border-width: 2px 4px 6px 8px;
}
p.bordasArredondadas1{
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
}
p.bordasArredondadas2{
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
}
p.bordasArredondadas3{
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
}
p.bordasArredondadas4{
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
}
h2{
    text-align: center;
}
h3{
    text-align: left;
}
h4{
    text-align: right;
}
h5{
    text-align: justify;
}
a{
    text-decoration: none;
}
h2.linhaAcima{
    text-decoration:overline;
}
h3.tachado{
    text-decoration:line-through;
}
h4.linhaAbaixo{
    text-decoration:underline;
}
p.maiusculo{
    text-transform:uppercase;
}
p.minusculo{
    text-transform:lowercase;
}
h2.sombra{
    text-shadow:3px 2px red
}
p{
    font-family: 'Times New Roman', Times, serif;
}
p.px{
    font-size: 32px;
}
p.em{font-size: 2em;}