
header{
    display: flex;
    text-shadow: 10px 10px yellow;

}
p{
    padding-right: 5px;
}
img{
    height: 150px;
    width: 150px;
}
#outrosJogos{
    column-span: 4;
    border: 3px;
    width:100%;
    height:150;
}
table{
    border-color: black;
    border-width: 5px;
    font-size: 20px;
}
body{
    background-color: rgb(10, 10, 10);
    background-image: url(imgs/banana.webp);
    background-repeat: repeat;
    
}
td{
    border-width: 5px;
    font-size: 20px;
}
th{
    border: 5px;
}
div{}
h2#titulo{
    text-shadow: 10px 10px rgb(186, 221, 145);
}
p{
    font-size: 20px;
}
    

